
[Desktop Entry]
Version=1.0
Name=Koneetkiertoon.fi Remote Support
Name[fi]=Koneetkiertoon.fi-etayhteys
Comment=Enable remote access for support person
Comment[fi]=Avaa etäyhteys tukihenkilölle
GenericName=Remote support
GenericName[fi]=Etäyhteys
Keywords=Remote;Connection;Desktop;Sharing;VNC;Linux-tuki;Seravo;Koneetkiertoon;
Keywords[fi]=Etäyhteys;Etätuki;Yhteys;Työpöydän jako;VNC;Linux-tuki;Seravo;Koneetkiertoon;
Terminal=false
Icon=koneetkiertoon-x32
Type=Application
Exec=koneetkiertoon-etayhteys
Categories=Network;RemoteAccess;
X-MultipleArgs=false
StartupNotify=true

