[Desktop Entry]
Version=1.0
Name=Seravo Remote Support
Name[fi]=Seravo etäyhteys
Comment=Enable remote access for support person
Comment[fi]=Avaa etäyhteys tukihenkilölle
GenericName=Remote support
GenericName[fi]=Etäyhteys
Keywords=Remote;Connection;Desktop;Sharing;VNC;Linux-tuki;Seravo
Keywords[fi]=Etäyhteys;Etätuki;Yhteys;Työpöydän jako;VNC;Linux-tuki;Seravo
Terminal=false
Icon=/usr/share/pixmaps/lti.png
Type=Application
Exec=/usr/share/linux-tuki-etayhteys/linux-tuki-etayhteys.py
Categories=Gnome;GTK;Network;
X-MultipleArgs=false
StartupNotify=true

