[Desktop Entry]
Version=1.0
Name=Linux-tuki.fi Remove Support
Name[fi]=Linux-tuki.fi:n etäyhteys
Comment=Enable remote access for support person
Comment[fi]=Avaa etäyhteys tukihenkilölle
GenericName=Remote support
GenericName[fi]=Etäyhteys
Keywords=Remote;Connection;Desktop;Sharing;VNC;Linux-tuki;Seravo
Keywords[fi]=Etäyhteys;Etätuki;Yhteys;Työpöydän jako;VNC;Linux-tuki;Seravo;
Terminal=false
Icon=lti
Type=Application
Exec=linux-tuki-etayhteys
Categories=Network;RemoteAccess;
X-MultipleArgs=false
StartupNotify=true

